<!DOCTYPE html>
<html lang="{{ websiteLocale }}">
	<head>
		
		{% block headBegin %}{% endblock %}
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ siteDescription }}">
		<title>{{ siteTitle }}</title>

		{% block headEnd %}{% endblock %}

	</head>

	<body class="{% block bodyClasses %}{% endblock %}">
	
		{% block bodyBegin %}{% endblock %}

		<main style="text-align: center">
			{% block content %}{% endblock %}
		</main>

		<footer style="text-align: center">
			&copy; {{ "now"|date("Y") }} Awesome Company s.r.o
		</footer>

       
		{% block bodyEnd %}{% endblock %}

	</body>
</html>
