{% trans_default_domain 'exceptions' %}

<h1>{{ ('xxx.title')|trans }}</h1>
<p>
	{{ ('xxx.description')|trans }} 
	<br>
	<a href="{{ path('homepage') }}">
		<strong>{{ ('xxx.homepageLink')|trans }}</strong>
	</a>.
</p>
